<div class="row">
    <div class="col col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.png" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">David Alexander Day Daghero</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
                <h1>
                    Acerca de mí
                </h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis dolorem praesentium exercitationem nulla architecto illo? Inventore doloribus architecto, provident voluptatibus ea eveniet iusto expedita fuga vel. Sequi delectus dolorum eveniet.</p>
            </span>
    </div>
</div>